# This is Git's per-user configuration file.
[user]
	name = Thao Han
	email = nosaitx3@gmail.com
# Please adapt and uncomment the following lines:
#	name = THao Han
#	email = nosaitx3@gmail.com 
[pull]
	rebase = false
