" leader
let mapleader = " "
" multi cursor
set multiple-cursors
set nu
set relativenumber
set hlsearch
set incsearch
set showmode
set clipboard=unnamed
set clipboard+=ideaput
set ignorecase smartcase

set NERDTree
set argtextobj
set commentary

if has('ide')
  " mappings and options that exist only in IdeaVim
  map <leader>wf <Action>(ReformatCode)
  " map <leader>e <Action>(ActivateProjectToolWindow)
  " Open Project with file location
  map <leader>e <Action>(SelectInProjectView)
  map [d <Action>(GotoPreviousError)
  map ]d <Action>(GotoNextError)

  " Search
  map <leader>ff <Action>(GotoFile)
  map <leader>fa <Action>(SearchEverywhere)
  map <leader>fs <Action>(GotoSymbol)
  map <leader>fu <Action>(FindUsages)
  map <leader><leader> <Action>(RecentFiles)
  map <leader>as <Action>(FindInPath)
  " map <leader>fd <Action>(HelpDiagnosticTools)
  " map <leader>ft <Action>(ActivateTODOToolWindow)
   " Completion 
  imap <C-f> <Action>(CodeCompletion)
  " LSP

  map gD <Action>(GotoTypeDeclaration)
  map gd <Action>(GotoDeclaration)
  map gi <Action>(GotoImplementation)
  map gr <Action>(GotoDeclaration)
  map <leader>rn <Action>(RenameElement)

  map <leader>oc <Action>(ReformatCode)
  map <leader>oi <Action>(OptimizeImports)
  map <leader>oa <Action>(ReformatCode)<Action>(OptimizeImports)
  map <leader>jev <Action>(IntroduceVariable)
  map <leader>jec <Action>(IntroduceConstant)
  map <leader>jem <Action>(ExtractMethod)


  map <leader>k <Action>(QuickJavaDoc)
  imap <C-s> <Action>(ParameterInfo)
  map <C-s> <Action>(ParameterInfo)
  map <leader>s <Action>(GotoSymbol)
  map <leader>S <Action>(GotoSymbol)

  map <leader>ca <Action>(ShowIntentionActions)

  " map <leader><leader>T <Action>(VimFindActionIdAction)
  " easy window navigation
  nnoremap <a-k> gT
  nnoremap <a-j> gt
  nnoremap <c-s-tab> gT
  nnoremap <c-tab> gt

  map g, <Action>(JumpToLastChange)
  map g. <Action>(JumpToNextChange)
  nmap g) <Action>(GotoNextElementUnderCaretUsage)
  nmap g( <Action>(GotoPrevElementUnderCaretUsage)
  " built-in navigation to navigated items works better
  nmap <c-o> <Action>(Back)
  nmap <c-i> <Action>(Forward)
  " but preserve ideavim defaults
  map g<c-o> <c-o>
  map g<c-i> <c-i>
  " run stuff
  map <leader>cg <Action>(ChooseRunConfiguration)
  map <leader>dg <Action>(ChooseDebugConfiguration)
  map <leader>1 <Action>(Run)
  map <leader>2 <Action>(Debug)
  map <leader>0 <Action>(Stop)

  map <leader>vd <Action>(ToggleDistractionFreeMode)
  map <leader>vz <Action>(ToggleZenMode)

else
  " some mappings for Vim/Neovim
endif
