{:profiles
 {:Goku {:default true :sim 50 :delay 500 :alone 500 :held 500}}
 :tos       {:same_wind_app   {:key :grave_accent_and_tilde :modi [:left_command] :lazy true}
             :prev_app        {:key :tab :modi [:left_command] :lazy true}
             :left_paren      {:key :9 :modi [:left_shift] :lazy true}
             :right_paren     {:key :0 :modi [:left_shift] :lazy true}
             :home_dir        [{:key :grave_accent_and_tilde :modi [:left_shift] :lazy true}
                               {:key :slash}]
             :regex_match_any [{:key :period}
                               {:key :8 :modi [:left_shift] :lazy true}]
             :select_cn       {:select_input_source
                               {:input_mode_id   ""
                                :input_source_id "com.apple.keylayout.US"
                                :language        "en"}}
             :select_abc      {:select_input_source
                               {:input_source_id "^com\\.apple\\.keylayout\\.ABC$"}}}
 :modifiers {:ro :right_option}
 :templates {
             :open       "open \"%s\""
             :opena      "open -a \"%s\""
             }
 :layers    {:tab-mode              {:key     :tab
                                     :afterup [{:set ["yabai-move-mode" 0]}
                                               {:set ["yabai-scale-mode" 0]}
                                               {:set ["spec-mode" 0]}]
                                     :condi   [:!comma-mode :!period-mode]}
             :spec-mode             {:key :s :condi :tab-mode}
             :period-mode           {:key :period :afterup {:set ["period-comma-mode" 0]} :condi [:!emacs-s-mode :!tmux-windmove-mode :!k2-mode]}
             :comma-mode            {:key :comma :condi [:!emacs-s-mode :!tmux-windmove-mode]}
             :tmux-windmove-mode    {:key :q :condi [:Terminals :!comma-mode :!period-mode]}
             :tmux-windresize-mode  {:key :c :condi :tmux-windmove-mode}
             :k2-mode               {:key :2 :condi [:!tab-mode :!tmux-windmove-mode]}}
 :simlayers {
             :vi-mode               {:key :d}
             :launch-mode           {:key :o}
             }
;; main contains multiple manipulators
;; each manipulator has a description and multiple rules

;; main                -> {:main [{:des "..." :rules [rule1 rule2 ...]}]}
;; manipulator         -> {:des "..." :rules [rule1 rule2 ...]}
;; manipulator's rules -> [rule1 rule2 ...]
 :main      [
             {:des   "Vi Mode [D as Trigger Key]"
              :rules [:vi-mode
                      [:##j :down_arrow]
                      [:##k :up_arrow]
                      [:##h :left_arrow]
                      [:##l :right_arrow]
                      [:##b :!Oleft_arrow]
                      [:##w :!Oright_arrow]
                      [:##0 :!Ta]
                      [:##4 :!Te]]}
             {:des   "launcher mode"
              :rules [:launch-mode
                      [:a [:open "/Applications/Alacritty.app"]]
                      [:f [:open "/Applications/Firefox.app"]]
                      [:v [:open "/Applications/Vieb.app"]]
                      [:n [:open "/Applications/Notion.app"]]
                      [:s [:open "/Applications/Slack.app"]]
                      [:p [:open "/Applications/Postman.app"]]
                      [:t [:open "/Applications/Telegram.app"]]
                      ]}
]
 :devices            {:macbook-internal [{:product_id 835 :vendor_id 1452}]
                      :leopold          [{:vendor_id 2131 :product_id 308}]}
 
 :SIMLAYER-THRESHOLD 210}
